c:\Users\pushp\OneDrive\Desktop\pushpa\pratice\card.html
.container{
    padding: 14px;
}
.bg-container{
    border: 4px;
    border-style: solid;
    color: #f1f1f1;
    border-radius: 8px;
    padding: 8px;
    background-color: #ccc;
    width: 50%;
    margin-left:30px;
    margin-right:30px;
    margin-top: 15px;
}
p{
   font-size: small; 
   color: black;
}
input[type=text] {
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
  }
  

  /*form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }/*